p{

    font-size: 20px;
    padding: 4rem;
    color: yellow;
    text-shadow: 1px 1px black;

}
.django{

   height: 10rem;
   margin-left: 45%;
}

div{
    
    margin: auto;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    
    padding-right: 0px;
}

a:hover{

    color:blue;


}
div  a {

    margin: auto;

}