.container{

    display: flex;
    flex-direction: column;
    font-size: 2ch;



}

.h1{
    font-size: 4ch;
    color: yellow;
    text-shadow: 5px 5px black; 
    text-decoration: none;
    padding: 10px;
    margin-left: 2px;

}

.h1:hover{

    
    

}
h1 a:hover{

    color: blue;
}