h1{
    color: yellow;
    text-shadow: 5px 5px black;
    font-size: 10ch;
    text-align:center ;
    font-family: 'Germania One', cursive;
}


h2{

    font-size: 5ch;
    text-align:center ;
    font-family: 'Germania One', cursive;

}
img{

    margin-left: 45%;
    height: 10rem;
    

}

body{

    background-image: url('http://www.itaniumsolutions.org/pics/max/130/1300235_wallpaper-empresa.jpg');

}

.btn:hover{
        background-color: #aafff8; 
        
}
ul{

    width: 100%;
    background-color: #1404fd;

}
ul,li{
    display: flex;
    flex-direction: row;
    

}

a{

    font-size: 3ch;
    color: yellow;
    text-shadow: 0px 1px black; 
    text-decoration: none;
    padding: 10px;
    margin-left: 2px;


}

a:hover {

    background-color: yellow;
    color: #1404fd


}